{% extends 'base.html' %}

{% block title %}
YouTube - {{ video.name }}
{% endblock title %}

{% block content %}
<h3>{{ video.name }}</h3>
<p>[ VIDEO ]</p>
<p>Description: {{ video.description }}</p>
<p>{{ video.views }} views</p>
<p>Likes: {{ video.get_likes_dislikes_count.0 }}, Dislikes: {{ video.get_likes_dislikes_count.1 }}</p>
<form action="{% url 'like' id=video.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Like</button>
</form>
<form action="{% url 'dislike' id=video.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Disike</button>
</form>
<p><a href="{% url 'channel' username=channel %}">{{ channel }}</a></p>
<h4>Comments</h4>
{% for comment in video.get_comments %}
    <p>{{ comment.user }}:<br>
    {{ comment.comment }}<br>
    <a href="#">reply</a></p>
{% endfor %}
<h5>Leave a comment</h5>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Comment</button>
</form>
{% endblock content %}