{% extends 'base.html' %}

{% block title %}
YouTube - {{ user }}'s Channel
{% endblock title %}

{% block content %}
<h3>Channel View</h3>
<p>{{ user }}</p>

{% if request.user == user%}
    {% if not creator %}
        <h4>Become a Content Creator</h4>
        <form action="become_content_creator" method='POST'>
            {% csrf_token %}
            <button type="submit">Creator Account</button>
        </form>
    {% else %}
        <h3>Upload YouTube Video</h3>
        <button onclick="location.href = '{% url 'upload' %}'">Upload video</button>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% else %}
    <form action="subscribe" method="POST">
        {% csrf_token %}
        {% if creator %}
            {% if not subscribed%}
                <button type="submit">Subscribe</button>
            {% else %}
                <button type="submit">Unsubscribe</button>
            {% endif %}
        {% endif %}
    </form>
{% endif %}
{% endblock content %}